
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

header {
  background-color: #000;
  color: #fff; 
}

header .wrapper {
  max-width: 940px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1em;
}

nav li {
  display: inline;
  justify-content: space-between;
}

#hero {
  height: 600px;
  background-image: url(../images/hands-typing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#hero h1{
  max-width: 60%;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  text-shadow: 1px 1px black;
  text-align: center;
}

#about-me .wrapper {
  max-width: 940px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1em;
}

#about-me .text {
  align-self: center;
}

#about-me .image {
  align-self: flex-end;
}

#services .wrapper {
  max-width: 940px;
  margin: auto;
  padding: 1em;
}

#services {
  background-color: #fafafa;
}

#services h2 {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

#services .grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}

article {
  display: flex;
  flex-direction: column;
}

article a{
  margin: auto;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px #000;
  border-radius: 4px;
}

a:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
}

#work .wrapper {
  max-width: 940px;
  margin: auto;
  padding: 1em;
}

#work h2, #work p {
  max-width: 100%;
  text-align: center;
  margin: auto;
}

#work .images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "div1 div1 div1 div2 div2 div2"
  "div3 div3 div4 div4 div5 div5";
}

.images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.images img:nth-child(1){
  grid-area: div1;
}

.images img:nth-child(2){
  grid-area: div2;
}

.images img:nth-child(3){
  grid-area: div3;
}

.images img:nth-child(4){
  grid-area: div4;
}

.images img:nth-child(5){
  grid-area: div5;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
}