*{
  box-sizing: border-box;
}

header {
  background-color: #000;
  color: #fff; 
}

.wrapper {
  max-width: 940px;
  align-items: center;
  display:flex;
  justify-content: space-between;
}

nav li{
  display: inline;
  justify-content: space-between;
}

#hero {
  height: 600px;
  background-image: url(../images/hands-typing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h1{
  max-width: 60%;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  text-shadow: 1px 1px black;
  text-align: center;
}

#about-me .wrapper{
  max-width: 940px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

#about-me .text {
  align-self: space-between;
}

#about-me .image {
  align-self: flex-end;
}